# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control
# Git ignore Ref Link : https://github.com/github/gitignore/blob/master/Global/SBT.gitignore

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/


# Scala-IDE specific
# git ignore ref Link : https://github.com/typesafehub/sbteclipse/issues/271
bin/
.scala_dependencies
.classpath
.project
.settings/
.cache-main
.cache-tests